body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    background: #c5b49d;
}

.ioBgContainer {
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;
}

.ioBgContainer > h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 12;
    font-size: 32px;
    line-height: 32px;
    color: #4c4842;
    font-family: 'Bitter', Georgia, serif;
}

.ioBgContainer .ioBgPanel {
    width: 300%;
    height: 300%;

    position: absolute;
}

.ioBgContainer .ioBgPanel__1 {
    background-color: green;
    z-index: 10;

    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    bottom: -60%;
    right: -165%;
}

.ioBgContainer .ioBgPanel__2 {
    background-color: blue;
    z-index: 11;

    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);

    left: -164%;
    bottom: -40%;
}

.ioBgContainer .ioBgPanel__3 {
    background-color: yellow;
    z-index: 12;

    -ms-transform: rotate(-135deg); /* IE 9 */
    -webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
    transform: rotate(-135deg);

    left: -164%;
    top: -40%;
}

.ioBgContainer .ioBgPanel__4 {
    background-color: red;
    z-index: 13;

    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);

    top: -60%;
    left: 35%;
}

.ioBgContainer .ioBgContainer__image {
    width: 300px;
    height: 300px;
    background-position: center center;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    margin-left: -150px;
    margin-top: -150px;

    border: 4px solid rgba(255, 255, 255, 0.7);

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.ioBtnContainer {
    position: fixed;
    z-index: 2;

    width: 500px;
    text-align: center;
    bottom: 50px;
    left: 50%;
    margin-left: -250px;
}
