<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&v=1.1" rel="stylesheet">
</head>
<body>
    <div class="ioSite">
        <div class="ioSite__content">
            {{ content }}
        </div>
    </div>
</body>
<footer>
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/asset/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/asset/vendor/boof/boof.css" />
    <script src="{{ site.github.url }}/asset/vendor/boof/boof.min.js?v=1.2"></script>
</footer>
</html>